**/.DS_Store
**/*_empty.tmp
**/*.txt
**/*.pdf
**/*.pbs
**/*.sublime-project
**/*.sublime-workspace
**/*.ipynb
**/*.ipynb_checkpoints

figure2/
figure3/

figures/figure3_alt.svg
figures/plot_figure2_old.py
figures/plot_figure3_old.py
figures/plot_figure3_alt.py